<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

    <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="D:\\JavaDeveloper\\IO\\Input-Output\\log.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value = "%d{yyyy-MM-dd HH:mm:ss} %-5p %t %c{1}:%M%L - %m%n" />
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="FileAppender" />
    </root>

</log4j:configuration>